{% load staticfiles %}



<html>

<head><title>ONLINE PROPERTY SALE</title></head>

<body>

<table align="center" border="0">
    <tr><th><img src="{% static 'images/house.jpg' %}" width="70" height="70">  </th>
    <th bgcolor="#fff8dc" style="color: red"><h1>&nbsp; ONLINE PROPERTY SALE </h1></th></tr>
</table>

<br/><br/><br/><br/>

<table align="center"><tr><th style="color: deeppink"><h3> LOGIN ADMIN / USER </h3></th></tr></table><br/><br/>
<form action="/savepassword/" method="post">

    {% csrf_token %}
<table align="center" border="0">


    <tr><td>Username :<br/>
        <table align="center" border="0"><TR><th></th></TR></table>
    <input type="text" name="username" required ></td></tr>
    <br/></table>


   <table align="center" border="0">
    <tr><td>password :<br/>
        <table align="center" border="0"><TR><th></th></TR></table>
    <input type="password" name="password" required></td></tr>
    <br/></table><br/>

 <table align="center" border="0">
    <tr><th><button type="submit" ><img src="{% static 'images/user.png' %}" width="20" height="20"></button> </th></tr>

</table>
<br/><br/><br/><br/>
     {% if message %}

    <table align="center" border="2">

        <tr><td >{{ message }}</td></tr>
    {% endif %}
    </table>
    </form>

<br/><br/>

{#<table align="center" border="0">#}
{#<tr><td bgcolor="#fff8dc" style="color: firebrick">SignUp</td></tr>#}
{#    </table>#}

</body>
</html>